@page "/"

<PageTitle>Log in</PageTitle>


<center>
    <form>
        <h1>Log in</h1>
        <input placeholder="username"/>
        <br /><br />
        <input type="password" placeholder="password"/>
        <br /> <br />
        <button>Log in</button>
    </form>
</center>


